* {
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    margin: 30px 60px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.cabecalho__navbar {
    display: flex;
    list-style-type: none;
    margin-left: 80px;
}

.home, .about, .destination, .tour, .blog {
    margin-right: 8px;
    text-decoration: none;
    color: black;
    align-items: center;
}

.login {
    border: none;
    color: #FD8D3A;
    background-color: white;
}

.signup {
    background-color: #FD8D3A;
    border: none;
    border-radius: 3px;
    padding: 3px 20px;
    color: white;
    margin-left: 20px;
}

.titulo__main {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 50px;
}

.span {
    color: #FD8D3A;
}

.article__main {
    display: inline;
}

.paragrafo__main {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 100px;
}

.botao__main {
    border: 1px solid #FD8D3A;
    background-color: white;
    color: #FD8D3A;
    padding: 20px 30px;
    border-radius: 5px;
}

.imagem__main {
    width: 60%;
}

.section__mainmain {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    margin-bottom: 100px;
}

.lista__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: white;
    margin: 0 300px;
    padding: 30px 100px

}

.ancora__divisao {
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.paragrafo__divisao {
    font-size: 10px;
    font-weight: 200;
}

.button__lista {
    border: none;
    background-color: #FD8D3A;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 10px;
}

.secao__main {
    background-color: #FEFCFB;
}

.secao__main-2 {
    background-color: #F7F8FC;
}

.titulo__main-2 {
    font-size: 54px;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.paragrafo__main-2 {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.divisao__main {
    padding-bottom: 30px;
    background-color: #ffffff;
}

.divisao__main-2 {
    display: flex;
    justify-content: center;
}

.card__main-2 {
    background-color: #FFFFFF;
    padding: 3rem 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo__card {
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: left;
}

.paragrafo__card {
    font-size: 10px;
    font-weight: 100;
}

.card {
    margin-left: 20px;
}

.card3 {
   margin-left: 20px;
}

.divisao__aside {
    text-align: center;
}

.titulo__aside {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.paragrafo__aside {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 50px;
}

.lista__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    
}

.lista__lista {
    margin-right: 1rem;
    display: grid;
    grid-template-areas: 
    "a a a"
    "a a a"
    "a a a"
    "b b c"
    "d e f";
    border: none;
    box-shadow: 2px 5px 5px rgb(191, 191, 191);

}

.imagem__lista {
    grid-area: a;
}

.cidade__lista {
    grid-area: b;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

.nota__lista {
    grid-area: c;
    font-size: 10px;
    margin-top: 10px;
}

.pais__lista {
    display: inline;
    grid-area: d;
    font-size: 10px;
    margin-left: 10px;
}

.valor__lista {
    grid-area: e;
    font-size: 10px;
    margin-left: 140px;
}

.desconto__lista {
    grid-area: f;
    font-size: 10px;
}

[data-anima] {
    opacity: 0;
    transition:.8s;
}

[data-anima="esquerda"] {
    transform: translate3d(-50px,0,0);
}

[data-anima="centro"] {
    transform: translate3d(0,50px,0);
}

[data-anima="direita"] {
    transform: translate3d(50px,0,0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0,0,0);
}