.app {
    font-family: 'Poppins';
    margin: 0 60px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px
}

.cabecalho__logo {
    margin-right: 20%;
}

.cabecalho__navbar {
    display: flex;
    list-style-type: none;
}

.home, .about, .destination, .tour, .blog {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.signup {
    background-color: #FD8D3A;
    border: none;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

.login {
    color: #FD8D3A;
    background-color: white;
    border: none;
}

.main {
    display: flex;
    align-items: center;
    margin: 0 60px;
    width: 100vw;
}

.article__main {
    display: inline-block;
    position: absolute;
    width: 100vw;
    text-align: justify;
    top: calc(50% - 140px);
    z-index: 2;
}

.titulo__main {
    font-size: 36px;
    width: 300px;
    font-weight: 500;
    margin-bottom: 10px;
}

.span {
    color: #FD8D3A;
}


.paragrafo__main {
    font-size: 8px;
    width: 200px;
    color: gray;
    margin-bottom: 50px;
}

.imagem__main {
    width: 50%;
    margin-right: 10px;
    position: absolute;
    left: 450px;
    top: 180px;
    z-index: 1;
}

.botao__main {
    background-color: white;
    color: #FD8D3A;
    border: 1px solid;
    border-radius: 2px;
}

